In [ ]:
numbers = []

for i in range(5):
    num = float(input("Enter a number: "))
    numbers.append(num)

total = sum(numbers)
average = total / len(numbers)
maximum = max(numbers)
minimum = min(numbers)

print("Sum:", total)
print("Average:", average)
print("Maximum:", maximum)
print("Minimum:", minimum)

Enter a number:  25

In [ ]:

words = []

for i in range(5):
    word = input("Enter a word: ")
    words.append(word)

words_tuple = tuple(words)

print("First word:", words_tuple[0])
print("Last word:", words_tuple[-1])
print("Total words:", len(words_tuple))

search_word = input("Enter a word to search: ")

if search_word in words_tuple:
    print("Word found in tuple")
else:
    print("Word not found")

In [ ]:

students = {}

for i in range(3):
    name = input("Enter student name: ")
    score = float(input("Enter score: "))
    students[name] = score

print("Students and scores:")
for name, score in students.items():
    print(name, ":", score)

# Highest score
highest_student = max(students, key=students.get)
print("Highest score student:", highest_student)

In [ ]:

list1 = input("Enter first list of numbers separated by spaces: ").split()
list2 = input("Enter second list of numbers separated by spaces: ").split()

set1 = set(list1)
set2 = set(list2)

print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

In [ ]:

list1 = input("Enter first list of numbers separated by spaces: ").split()
list2 = input("Enter second list of numbers separated by spaces: ").split()

set1 = set(list1)
set2 = set(list2)

print("Union:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))